.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  height: 33px;
  border-radius: 6px;
  font-size: 12px;
}
.ant-select-single .ant-select-selector .ant-select-selection-item {
  line-height: 34px;
}


.list_Header {
  display: flex;
  justify-content: space-around;
}
.sousuo {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.list_footer {
  width: 95%;
  text-align: center;
  position: absolute;
  bottom: 10px;
}

.ant-divider-horizontal {
  margin: 15px 0;
}

.lists .ant-list-items {
  height: 90%;
  overflow: auto;
}
.ant-list-pagination {
  text-align: center;
  margin-top: auto;
  position: absolute;
  bottom: 0;
  right: 25%;
}

.details {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.details > div > img {
  width:100%;
  overflow:hidden;
  /* margin-right: 15px; */
}

.ant-modal-body {
  height: 330px;
  overflow:auto;
}